{% extends 'tinder_app/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	

		<div class="card-body">
			<div class="card" style="width:400px">

			{% for dog in dogs %}

			<img src="{{ dog.image.url }}">
			<br>
		    <h4 class="card-title"> Rasa: {{ dog.breed }}</h4>
		    <p class="card-text"> Godiste: {{ dog.birthYear }}</p>
		    <p class="card-text"> Postavljen: {{ dog.date.date }}</p><br>
			<p class="card-text"> Info: {{ dog.info }}</p>

		    <a href="{% url 'details' dog.pk %}" class="btn btn-primary"> Detaljnije </a>

			{% endfor %}

			</div>
		</div>
	
{% endif %}
{% endblock %}